<div class="background">
  <div class="make-group">
    <div class="link-wrap">
      <div class="user-wrap">
        <h2 class="link-text">
          ユーザー
        </h2>
        <div class="link-group">
          <%= link_to 'ログイン', new_user_session_path(@group.id), class:"link-btn" %>
          <%= link_to '新規登録', new_user_registration_path(@group.id), class:"link-btn"%>
        </div>
      </div>
      <div class="user-wrap">
        <h2 class="link-text">
          管理者
        </h2>
        <div class="link-group">
          <%= link_to 'ログイン', new_admin_session_path(@group.id), class:"link-btn" %>
          <%= link_to '新規登録', new_admin_registration_path(@group.id), class:"link-btn" %>
        </div>
      </div>
    </div>
  </div>
</div>