<div class="background">
    <%= form_with model: @group, url: groups_path, class: 'registration-main', local: true do |f| %>
    <div class='form-wrap'>
    
      <div class='form-main'>
        <h1 class='form-main-text'>
          会社名・店舗名登録
        </h1>
      </div>

      <%= render 'layouts/error_messages', model: f.object, locals: { model: @group } %>

      <div class="form-group">
          <label class="form-sub-text">※ 登録済みの方も入力して下さい</label>
        <%= f.text_field :group_name, class:"input-group", placeholder:"例) 〇〇株式会社", maxlength:"40" %>
      </div>
      

      <div class="form-group">
        <%= f.submit "次へ" ,class:"btn" %>
      </div>
    </div>
    <% end %>
</div>