/* 全体・タグ */
* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
form {
  margin: 70px auto;
  width: 500px;
  text-align: center;
  padding: 40px;
}
input {
  display: block;
  width: 269px;
  padding: 15px;
  margin-bottom: 10px;
  /* -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px; */
  border-radius: 6px;
  /* -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; */
  outline: none;
}
::-webkit-input-placeholder {
  color: rgba(155, 154, 154, 0.884);
}
th {
  border-bottom: solid 1px rgb(200, 200, 200);
  width: 48px;
}
/* 共通の装飾 */
.app-title,
.background {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-main,
.form-main-text {
  color: #888;
  font-size: x-large;
  font-weight: 600;
}
/* 以下A~Z順 */
.app-title-text{
  font-size: 50px;
  color: #444;
  font-family: 'Patrick Hand', cursive;
  margin-left: 20px;
}
.background {
  background-color: #eeeeee;
  position: relative;
  height: 100vh;
  padding-top: 105px;
  padding-bottom: 60px;
}
.btn {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 17px;
  width: 270px;
  border-radius: 6px;
  font-size: 1.4em;
  font-weight: bold;
  background: #fca553;
  color: white;
  box-shadow: 2px 3px 2px #d45c58;
  cursor: pointer;
}
.calender{
  font-size: 20px;
  color: #333;
  font-weight: bold;
  height: 50px;
  border: #888 solid 1px;
  border-radius: 10px;
}
.check-box {
  transform: scale(1.5);
  width: 20px;
}
.form-group{
  display: inline-block;
  align-items: center;
  font-size: medium;
  color: #333;
}
.form-main {
  margin: 30px 0 10px;
}
.form-main-text {
  margin: 55px 0 30px;
}
.header {
  width: 100%;
  height: 105px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}
.icon {
  width: 80px;
  height: 80px;
}
.input-group {
  background-color: white;
  border: #333 solid 1px;
  display: block;
  width: 350px;
  padding: 15px;
  margin-bottom: 10px;
}
.registration-main {
  padding-top: 50px;
  background-color: #f8f8f8;
  border: #333 solid 1px;
  height: 500px;
  width: 450px;
}
.shift-form{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 12px;
  padding-bottom: 13px;
}
.shift-table {
  background-color: white;
  table-layout: fixed;
  border: #333 solid 2px;
  width: 100%;
}
.smart-icon {
  width: 40px;
  height: 40px;
}
.smart-menu {
  padding: 10px 0 20px;
  height: 105px;
  width: 100%; 
  background-color: #ffb36b;
  border-bottom: #999 solid 2px;
}
.submit-btn{
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px;
  width: 200px;
  border-radius: 6px;
  font-size: 1.4em;
  font-weight: bold;
  background: #fca553;
  color: #f1f0f0;
  box-shadow: 0 3px 0 #d45c58;
  cursor: pointer;
}