.smart-menu {
  /* display: flex; */
  align-items: center;
  /* justify-content: space-between; */
  background-color: #ffb36b;
  border-bottom: #999 solid 3px;
  position    : fixed;
  top         : 0;
  left        : 0;
  right       : 0;
  height      : 105px;
  z-index     : 10;
  
}
.smart-app-title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 20px;
}
.smart-app-title-text{
  font-size: 25px;
  color: #444;
  font-family: 'Patrick Hand', cursive;
}
.smart-icon {
  width: 40px;
  height: 40px;
}
.user-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 30px;
}
.smart-sub-menu {
  display: flex;
  align-items: flex-end;
  height: 80px;
  margin-bottom: 15px;
}
.current-month-title {
  display: flex;
  justify-content: center;
}
.sub-title {
  display: inline-block;
  /* text-align: center;
  justify-content: center; */
  background: linear-gradient(transparent 70%, rgb(252, 183, 79) 70%);
  margin: 40px 0 5px 0;
  font-size: 25px;
}
.prev-next-month {
  font-size: 20px;
  color: #888;
}
.prev-next-month-sun {
  font-size: 20px;
  color: pink;
}
.prev-next-month-sat {
  font-size: 20px;
  color: rgb(152, 206, 250);
}
.current-month {
  font-size: 20px;
  font-weight: bold;
}
.current-month-sun {
  font-size: 20px;
  color: rgb(247, 55, 55);
}
.current-month-sat {
  font-size: 20px;
  color: rgb(66, 66, 252);
}
.make-user-main {
  height: 100%;
  width: 100%;
  margin: 20px;
  border-radius: 20px;
  background-color: rgba(240, 240, 240, 0.8);
  display: flex;
  justify-content: center;
  overflow-x : auto;
}
.shift-form{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 12px;
  padding-bottom: 13px;
}
.shift-table {
  background-color: white;
  display: flex;
  justify-content: center;
  table-layout: fixed;
  border: double 10px #333;
  margin-bottom: 20px;
}
.monthly-shift {
  font-size: 22px;
  color: #333;
  font-weight: bold;
  background: linear-gradient(transparent 70%, rgb(252, 183, 79) 70%);
}
.finished-shift-day {
  font-size: 20px;
  color: rgb(250, 144, 144);
  margin: 5px;
}
.today-shift-day {
  font-size: 23px;
  color: #333;
  margin: 5px;
}
.shift-day {
  font-size: 20px;
  color: #333;
  margin: 5px;
}
.border-th {
  caret-color: transparent;
}


.bottom-menu {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  background: rgb(190, 190, 190);
  height: 80px;
  width: 100%;
}
.bottom-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;
  list-style: none;
  text-align: center;
}
.menu-list,
.bottom-name {
  display: block;
  color: #444;
  font-size: 20px;
}
.form-header-text {
  display: inline-block;
  /* text-align: center;
  justify-content: center; */
  background: linear-gradient(transparent 70%, rgb(252, 183, 79) 70%);
  margin: 10px 0 5px 0;
  font-size: 20px;
}
.check-box-form {
  display: flex;
  align-items: center;
}
.check-box {
  transform: scale(1.5);
  width: 20px;
}
.form-text{
  font-size: 15px;
  color: #555;
  font-weight: bold;
}
.form-day {
  font-size: 16px;
  color: #555;
  font-weight: bold;
  background: linear-gradient(transparent 70%, rgb(253, 217, 163) 70%);
}
.comment {
  font-size: 18px;
  background: linear-gradient(transparent 70%, rgb(252, 183, 79) 70%);
}
.comment-area {
  width: 450px;
  height: 100px;
  border: #999 solid 1px;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
}
.submit-btn{
  /* display: block; */
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px;
  width: 200px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-size: 1.4em;
  font-weight: bold;
  background: #fca553;
  color: #f1f0f0;
  box-shadow: 0 3px 0 #d45c58;
  cursor: pointer;
}
.select-form{
  width: 60px;
  border: #999 solid 1px;
  border-radius: 10px;
  text-align: center;
}