/* 共通の装飾 */
.select-user,
.sign-up-main,
.user-wrap {
  background-color: #f8f8f8;
}
.select-user,
.sign-up-main {
  border: #333 solid 1px;
}
/* 以下A~Z順 */
.gray-s {
  color: #999;
  text-shadow    : 
       2px  2px 1px #444,
      -2px  2px 1px #444,
       2px -2px 1px #444,
      -2px -2px 1px #444,
       2px  0px 1px #444,
       0px  2px 1px #444,
      -2px  0px 1px #444,
       0px -2px 1px #444;
}
.link-text {
  font-size: 25px;
  color: #888;
  font-weight: 800;
  margin: 10px 0 10px 0;
}
.select-user {
  text-align: center;
  padding: 15px;
  margin: 20px;
  width: 400px;
}
.sign-up-main {
  height: 580px;
  width: 450px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.user-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}