* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.background {
  background-image: url("/assets/sign_in_up.png");
  background-size: 350px;
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background::before {
  position: absolute;
  content: '';
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  filter: blur(8px);
  z-index: -1;
}
.link-wrap,
form {
  margin: 70px auto;
  background: #fff9e5;
  width: 500px;
  text-align: center;
  padding: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.user-sign-in-main,
.link-wrap,
.registration-main {
  height: 500px;
  width: 450px;
  box-shadow: 0px 3px 6px 0 #f3a71a;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.admin-sign-in-main,
.sign-up-main {
  height: 580px;
  width: 450px;
  box-shadow: 0px 3px 6px 0 #f3a71a;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.user-wrap {
  margin: 10px;
  padding: 10px;
  border: 2px solid;
  border-color: rgb(247, 170, 26);
  border-radius: 20px;
  box-shadow: 0 3px 6px 0 #777;
}
.form-wrap{
  display: inline;
  align-items: center;
  justify-content: center;
}
.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.app-title-text{
  font-size: 50px;
  color: #444;
  font-family: 'Patrick Hand', cursive;
  margin-left: 20px;
}
.gray-s {
  color: #999;
  text-shadow    : 
       2px  2px 1px #444,
      -2px  2px 1px #444,
       2px -2px 1px #444,
      -2px -2px 1px #444,
       2px  0px 1px #444,
       0px  2px 1px #444,
      -2px  0px 1px #444,
       0px -2px 1px #444;
}
.icon {
  width: 80px;
  height: 80px;
}
.form-main-text {
  font-size: x-large;
  color: #888;
  font-weight: 600;
  margin: 60px 0 30px;
}
.form-sign-up-text {
  font-size: xx-large;
  color: #777;
  font-weight: 800;
  margin: 30px 0 10px;
}
.link-text {
  font-size: xx-large;
  color: #666;
  font-weight: 800;
  margin: 20px 0 10px 0;
}
.form-sub-text {
  font-size: medium;
  color: #333;
}
.form-group{
  display: inline-block;
  align-items: center;
}
.input-group {
  background-color: rgba(255, 255, 255, 0.925);
  display: block;
  width: 350px;
  padding: 15px;
  margin-bottom: 10px;
}
input {
  display: block;
  width: 269px;
  padding: 15px;
  margin-bottom: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  outline: none;
}
::-webkit-input-placeholder {
  color: rgba(155, 154, 154, 0.884);
}
.btn {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 17px;
  width: 270px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-size: 1.4em;
  font-weight: bold;
  background: #fca553;
  color: #f1f0f0;
  box-shadow: 0 3px 0 #d45c58;
  cursor: pointer;
}
.link-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-btn {
  display: block;
  margin: 15px 20px 15px 20px;
  padding: 15px;
  width: 130px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-size: 1.4em;
  font-weight: bold;
  background: #fca553;
  color: #f1f0f0;
  box-shadow: 0px 3px 0px #d45c58;
  cursor: pointer;
  text-decoration: none;
}
button:active {
  top: 3px;
  box-shadow: none;
}