/* 共通の装飾 */
.admin-sign-in-main,
.edit-list,
.form-wrap {
  background-color: #f8f8f8;
  border: #333 solid 1px;
}
.border-th,
.border-td {
  border-left: solid 1px #c8c8c8;
  border-bottom: solid 1px #c8c8c8;
}
.calender-comment,
.mode-btn,
.time-explain,
.today-shift-day {
  color: #333;
}
.calender-field,
.edit-one {
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-btn,
.make-admin-main,
.submit {
  display: flex;
  justify-content: center;
}
.form-class,
.menu,
.menu-list a,
.table-head {
  text-align: center;
}
/* 以下A~Z順 */
.admin-group-name {
  font-size: 30px;
  margin: 30px 100px 0 0;
}
.admin-sign-in-main {
  height: 580px;
  width: 450px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.admin-sub-title {
  font-size: 25px;
  margin-top: 30px;
  margin-left: 40px;
}
.admin-title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 5px;
  height: 60px;
}
.admin-title-text {
  font-size: 30px;
  color: #444;
  font-family: 'Patrick Hand', cursive;
}
.back-box {
  height: 90%;
  width: 90%;
}
.box-head {
  width: 100%;
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-between;
}
.calender-comment {
  font-size: 18px;
}
.edit-form {
  display: flex;
  justify-content: left;
}
.edit-list {
  height: 240px;
  width: 200px;
  margin: 0 10px 0 10px;
}
.form-class {
  width: 50%;
  margin: 10px;
  background-color: transparent;
  font-size: 20px;
}
.form-wrap{
  padding-bottom: 20px;
}
.hidden {
  display: none;
}
.hidden-form{
  width: 200px;
  height: 0;
}
.inner-nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.make-admin-main{
  height: 100%;
  width: 100%;
}
.menu {
  width: 100%;
  cursor: pointer;
}
.menu-list {
  display: block;
  color: #444;
  font-size: 20px;
}
.menu-list a {
  margin: 0;
}
.mode-btn {
  font-size: 20px;
  font-weight: 580;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px #535353;
  width: 150px;
  height: 50px;
}
.over-mode{
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  margin-left: 100px;
}
.shift-one {
  display: inline-flex;
  background: linear-gradient(transparent 90%, #b9b9b9 70%);
}
.table-head {
  width: 100px;
  border-right: solid 3px #999;
  padding: 5px 10px;
  border-bottom: solid 1px #c8c8c8;
}
.table-scroll {
  overflow-x: auto;
  margin: 20px 30px 30px;  
}
.time-explain {
  margin-left: 10px;
}
.today-shift-day {
  font-size: 20px;
  margin: 5px;
}
.today-shift-list {
  background-color: white;
  border: #888 solid 2px;
  border-radius: 10px;
  margin: 0 30px;
  padding: 30px;
}
.tr-wrap{
  border-bottom: solid 2px #666;
}
.user-name-list {
  margin-right: 30px;
}