
.admin-title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 5px;
  height: 60px;
  /* background-color: #ffb36b; */
}
.admin-title-text {
  font-size: 30px;
  color: #444;
  font-family: 'Patrick Hand', cursive;
}
.smart-icon {
  width: 40px;
  height: 40px;
}

.box-head {
  width: 100%;
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-between;
}

.admin-group-name {
  font-size: 30px;
  margin: 30px 100px 0 200px;
  background: linear-gradient(transparent 80%, rgb(167, 167, 167) 70%);
}
.make-admin-main{
  height: 100%;
  width: 100%;
  margin: 20px;
  border-radius: 20px;
  background-color: rgba(240, 240, 240, 0.8);
  display: flex;
  justify-content: center;
}
/* .make-admin-main {
  height: 100%;
  width: 100%;
  padding: 50px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  overflow-y: auto;
} */
.back-box {
  height: 90%;
  width: 90%;
}
.admin-sub-title {
  display: inline-flex;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 40px;
  background: linear-gradient(transparent 70%, rgb(252, 183, 79) 70%);
}

.table-scroll {
  overflow-x: auto;
  margin: 30px;  
}

.today-shift-table {
  background-color: white;
  table-layout: fixed;
  width: 100%;
  border: double 10px #333;
}

.today-shift-list {
  background-color: white;
  background-image:
    radial-gradient(#999 3%, transparent 2%),
    radial-gradient(#999 3%, transparent 2%);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
  border: #888 solid 2px;
  border-radius: 10px;
  margin: 0 30px;
  padding: 30px;
}
.form-groups{
  height: 0;
  width: 0;
}
.today-shift-day {
  padding-top: 5px;
}
.shift-one {
  display: inline-flex;
  background: linear-gradient(transparent 90%, rgb(185, 185, 185) 70%);
}
.submit{
  display: flex;
  justify-content: center;
}
.user-name-list {
  margin-right: 30px;
}

.table-head {
  width: 100px;
  border-right: solid 3px #999;
}

table th {
  padding: 5px 10px;
  width: 48px;
  text-align: center;
  border-bottom: double 2px #333;
}

table td {
  padding: 5px 10px;
  width: 32px;
  text-align: center;
  border-bottom: solid 2px rgb(200, 200, 200);
}

.border-th {
  border-left: solid 1px rgb(200, 200, 200);
}

.schedules-list {
  height: 80%;
  width: 100%;
}

.hidden {
  display: none;
}

.calender{
  height: 50px;
  border: #888 solid 1px;
}
.calender-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calender-comment{
  font-size: 18px;
  color: #333;
}