<header class="header">
  <div class="smart-menu">
    <div class='smart-app-title'>
      <%= image_tag 'shift_success_logo_removebg.png', class:'smart-icon' %>
      <h1 class='smart-app-title-text'>
        Shift Success
      </h1>
    </div>
    <div class="user-header">
      <div class="current-group">
        <%= current_user.group.group_name %>
      </div>
    </div>
  </div>
</header>